.container
{
    background-color: white;
    color: black;
    padding: 50px;
    margin-top: 120px;
    width: 400px;
}

.container > div>h1{
    text-align: center;
}

body{
    background-color: black;
}

.my_style
{
    color: red;
}

.container-small
{
    text-align: center;
}

.container-small > button{
    width: 100%;
}

.already
{
    margin-top: 10px;
}

.already > a:hover{
    text-decoration: none;
    color: red;
    font-weight:800;
}

.sm-gis
{
    color: red;
}