.col-lg-3
{
    background-color: white;
    border-radius: 20px;
    margin: 30px 0 30px 0;
}

.over
{
    margin-top: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.form-label
{
    color: black;
}

.form-control
{
    background-color: rgb(163, 216, 163);
    color: blue;
}

.row.justify-content-center.mt-2
{
    background-color: black;
}